.nav-bar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  background-color:#E30613;;
}
.nav-content{
  width: 100%;
  min-height: 76px;
  height: 76px;
  span,i,p{
    font-size: 1.2em;
  }
}
.content-logo{
  float: left;
  height: 100%;
  text-align: center;
}
.content-menu{
  float: left;
  margin-left: 1em;
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  width: 76px;
  transition: all 0.3s ease;
}
.content-title{
  width: 50%;
  float: left;
  text-align: center;
}
.content-user{
  width: 35%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  float: right;
  padding-right: 2em;
  i{
    font-size: 1.8em;
  }
  span.name{

    display: none;
  }

}


  @media only screen and (min-width: 769px) {
    .content-menu{
      display: none;
    }
    div.content-user{
      padding-right: 5rem;
      span.name{
        display: block;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-logo{
      display: none;
    }
    .nav-content{
      span,i,p{
        font-size: 1.2em;
      }
    }
  }
