.form-element {
  height: 100%;
  width: 100%;
  display: table-cell;
  box-sizing: border-box;
}
.container-fluid{
  margin-top: 5em;
}

.textfield {
  width:100%
}

.textfield > input {
  width:100%
}
form {
  background: gray;
  padding:12px;
  margin-right: 1em;
}

input {
  padding:10px;
}
